{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
  <a class="navbar-brand" href="#">RunTime Terror</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="home">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="about">About</a>
        {% if user.is_authenticated %}
        <span style="color: white">Hello! {{ user.first_name }}</span>
        <a class="nav-item nav-link" href="logout">Logout</a>
        {% else %}
      <a class="nav-item nav-link" href="login">Login</a>
      <a class="nav-item nav-link " href="register">Register</a>
        {% endif %}
    </div>
  </div>
        </div>
</nav>
</head>
<body background="{% static 'images2/Video-Webpage-Background.jpg' %}">
    <h1 style="color: white"></h1>


    <div class="container">
        <div class="jumbotron">
  <h1 class="display-4">Login</h1>
  <p class="lead"></p>


  </p>
</div>

    <form action="login" method="post">
        {% csrf_token %}<br>
        <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="text" name="user_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Username">

  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>
        </div>

{% for e in messages %}
{{ e }}
{% endfor %}
</body>
</html>